
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>assignmen Task</title>
      
      <style>
          .container {
	        background-color: #e1ebf6;
        }
        </style>
    </head>
    
      <body>
        <div class="container ">	        
            <header class="row">
                <div class="col-xs-12">	
                    <center><h1>CSV File Uploading</h1></center>	
                </div>
            </header>  
                 
          <section id="upload-data-panel">
            <form  action="/upload" method="POST" id="upload-form" enctype="multipart/form-data">
                <fieldset>
                    <legend>Upload Data</legend>
                    <div>
                        Enter your Email: <input type="email" name="email" accept="text/cvs">
                    </div><br>
                    <div>
                        <input type="file" name="recfile" accept="text/cvs">
                    </div>
                    <div>
                        <input type="submit" value="Submit"/>
                    </div>
                </fieldset>
            </form>
        </section>

             
          </div>		
      </body>
</html>


